* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.game {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(red, blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    width: 60rem;
    height: auto;
    box-shadow: 1px 1px 40px #9f9f9f9f;
    
}

.game-instructions {
    margin: 2rem;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 3px #9f9f9f9f;
}

.game-instructions h2 {
    margin-top: 1.6rem;
    font-size: 4rem;
    
}

.game-instructions p {
    margin-top: 1.6rem;
    font-size: 2rem;
    font-weight: 600;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 3px 3px 3px #9f9f9f9f;
    font-weight: 600;
}

.input-container label {
    margin-top: 1.6rem;
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px #f00;
}

.input-container input {
    height: 3rem;
    border: none;
    box-shadow: 2px 2px 3px #f00;
    width: 60%;
    margin-top: 1.6rem;
}

.input-container button {
    margin-top: 1.6rem;
    width: 60%;
    height: 3rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: #f00;
    color: #ffffff;
    border: none;
    box-shadow: 3px 3px 10px #9f9f9f9f;
}